# Gradle 
# ------
/TeamProjectGame/.gradle
/TeamProjectGame/build

# Eclipse
# ------
/TeamProjectGame/.classpath
.classpath
/TeamProjectGame/.project
/TeamProjectGame/.settings
/TeamProjectGame/bin

# Dropbox
# -------
.dropbox

